

.valConvert_lab7{
    position: relative;
    font-family: monospace;
    font-size: 1rem;
    color : rgb(255, 255, 255);
    background: rgb(37, 37, 37);
    padding: 4px;
    width: calc(50% - 8px);
    left: 8px; 
    display: block;
    margin-top: -1rem !important;
    border-radius: 4px;
}
#lab7 p {
    position: relative;
    margin-top: 0.2rem;
    top: 0.5rem;
    left: 12px;
}

#lab7 input{
    position: relative;
    font-family: monospace;
    font-size: 1rem;
    padding: 4px;
    width: calc(50% - 8px);
    left: 8px;
    display: block;
    margin-top: -1rem !important;
    border: 1px solid blac;
    border-radius: 4px;
    float: left;
    margin-top: -0.7rem !important;
    width: 98%;
}